@model IEnumerable<Models.ActivityViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Groups</h2>
        <p>
            The possible groups the user is part of will be displayed here.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">This will become one of the buttons to go to the respective group</a></p>
    </div>
    <div class="col-md-7">
        <div class="col-md-6">
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        
    </div>
    <div class="col-md-2">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>